@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
}

#navbar {
    display: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo1 {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
}

#menu {
    color: white;
    font-size: 2rem;
    padding: 0.4rem;
}

#menu:hover {
    background-color: gray;
    transition: 1s;
}

#navbar ul {
    list-style: none;
}

#navbar ul a {
    text-decoration: none;
    color: white;
}

#navbar ul a li {
    width: 100%;
    padding: 1rem;
}

#navbar ul a li:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

@media screen and (min-width:768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    #menu {
        display: none;
    }

    #navbar ul{
        display: flex;
        width: auto;
    }

    #navbar ul a {
        padding-right: 5px;
        transition: 0.5s;
    }

    #navbar ul li {
        border-radius: 1rem;
    }
}