@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    width: 100vw;
}

#navbar {
    display: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#logo1 {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
}

#menu {
    color: white;
    font-size: 2rem;
    padding: 0.4rem;
}

#menu:hover {
    background-color: gray;
    transition: 1s;
}

#navbar ul {
    list-style: none;
}

#navbar ul a {
    text-decoration: none;
    color: white;
}

#navbar ul a li {
    width: 100%;
    padding: 10px;
}

#navbar ul a li:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

/* account */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section#login {
    height: 520px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 1rem;
    overflow: hidden;
}

div.imagem {
    height: 200px;
    background: url(../imagens/people-buying-p.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#formulario {
    padding: 0.5rem 1rem;
}

div#formulario h2 {
    text-align: center;
    padding-top: 0;
}

div#formulario p {
    margin-bottom: 5px;
}

label {
    display: none;
}

div.campo {
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px solid rgb(26, 255, 224);
    border-radius: 1rem;
    margin: 8px 0px;
}

div.campo span {
    padding: 6px;
    height: 40px;
}

div.campo input[type="email"], input[type="password"]{
    height: 35px;
    margin: 5px 0;
    width: calc(100% - 36px);
    position: absolute;
    transform: translate(0,-4px);
    border-radius: 1rem;
    background-color: #1affe0;
}

div.campo input[type="submit"] {
    width: 100%;
    height: 100%;
    background-color: #1affe0;
    border-radius: 1rem;
}

div.campo button {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 1rem;
}


@media screen and (min-width:768px) {
    #navbar {
        margin-right: 20px;
    }
    
    header {
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    #menu {
        display: none;
    }

    #navbar {
        display: block;
    }

    #navbar ul{
        display: flex;
        width: auto;
    }

    #navbar ul a {
        padding-right: 5px;
        transition: 0.5s;
    }

    #navbar ul li {
        border-radius: 1rem;
    }
}