@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.tela-principal {
    background: linear-gradient(to bottom, rgba(6, 3, 41, 0.192),rgba(7, 4, 39, 0.281)),url(../imagens/background.jpg);
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    height: 40px;
}

header span {
    color: white;
}

.navbar {
    position: fixed;
    right: -180px;
    top: 0;
    height: 100vh;
    background-color: orangered;
    z-index: 2;
    width: 150px;
    padding: 10px;
    transition: 1s;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    margin: 30px 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
}

.navbar ul li a:after {
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: 0.8s;
}

.navbar ul li a:hover:after {
    opacity: 1;
    width: 100%;
}


.slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    color: #fff;
    text-align: center;
    width: 100%;
    
}

.slogan h1 {
    font-size: 40px;
    line-height: 35px;
}

.slogan p {
    margin-bottom: 50px;
    font-size: 13px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    padding: 16px 32px;
    transition: 0.5s;
    font-size: 14px;
}

.hero-btn a {
    text-decoration: none;
    color: #fff;
}

.hero-btn:hover {
    background-color: red;
    border: 1px solid red;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.campos {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
}

.campos h1 {
    font-size: 40px;
}

.col-campo {
    flex-basis: 32%;
    position: relative;
    overflow: hidden;
}

.col-campo img {
    width: 100%;
    border-radius: 25px;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.layer:hover {
    background-color: rgba(255, 0, 0, 0.548);
    border-radius: 25px;
}

.layer h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 49%;
}

footer {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    margin-top:50px;
    padding: 20px;
}