@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}


body, html {
    background-color: rgb(255, 207, 119);
    height: 100%;
    width: auto;
}

header {
    display: block;
    padding: 15px;
    
    background-color: black;
}

header > h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Audiowide';

    color: white;
}

header > p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
   
    color: white;
}

span#burguer {
    display: block;
    text-align: center;
    padding: 10px;

    background-color: white;
    color: black;
}

span#burguer:hover {
    background-color: gray;
    color: white;
}

nav {
    display: none;
    background-color: white;
}

nav > ul > li  {
    text-align: center;
    list-style-type: none;
    margin-bottom: 2px;
    padding: 10px;
    
    background-color: black;
}

nav > ul > li > a {
    text-decoration: none;

    color: white;
}

nav > ul > li > a:hover {
    padding: 5px;
    border-radius: 5px;
    
    color: white;
    background-color: gray;

}

main {
    margin: 40px auto 80px auto;
    max-width: 800px;
    width: 70vw;
    padding: 15px;
    border-radius: 20px;

    background-color: white;
}

main > article > h1 {
    text-align: center;
    font-size: 2em;
}

main > article > p {
    font-size: 1.2em;
    text-indent: 20px;
    text-align: justify;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}