@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
}

/* ROOT */

:root {
    --cor-geral-logo: white;
    --cor-fundo-logo: black;
    --fonte-logo-h1: "Audiowide" ;
}

/* LOGO */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

div#logo {
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    
    background-color: var(--cor-fundo-logo);
    color: var(--cor-geral-logo);
    text-shadow: 1px 1px 10px rgb(156, 156, 156);   
}

div#logo h1{
    font-family: var(--fonte-logo-h1);
    font-size: 3em;
}

div#logo p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    
    text-shadow: 1px 1px 10px rgb(156, 156, 156);
}

/* MENU de Navegação */

ul#navbar {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    height: 40px;
    list-style: none;
    
    background:linear-gradient(to right, rgb(70,70, 70), rgb(100,100, 100),rgb(70,70, 70));
    color: var(--cor-geral-logo);
} 

ul#navbar li a {
    margin-left: 30px;
    text-decoration: none;
    
    color: var(--cor-geral-logo);
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);   
}


