@charset "UTF-8";

/* Typical Device Breakpoints

-----------------------------

Pequenas telas: até 600px

Celular: 600px até 768px

Tablet: 768px até 992px

Desktop: 992px até 1200px

Grande telas: acima de 1200px

*/


@media screen and (min-width:768px) {
    span#menu {
        display: none;
    }

    nav#navbar {
        display: block;
        width: auto;
        padding-right: 1rem;
    }

    nav#navbar ul {
        display: flex;
    }

    nav#navbar ul a li:hover {
        border-radius: 1rem;
    }
    
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #logo1 h1 {
        padding-left: 1rem;
    }

    /* ACCOUNT */

    section#login1 {
        width: 70vw;
        height: 300px;
        max-width: 900px;
    }

    div#imglog{
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }
}