@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

a#logo1 {
    text-decoration: none;
    color: white;
}

a#logo1 h1 {
    font-family: "Audiowide";
    font-size: 3rem;
    padding-top: 1rem;
}

a#logo1 p {
    padding-bottom: 1rem;
}

span#menu {
    font-size: 2.5rem;
    width: 100%;
    padding: 0.3rem;
}

span#menu:hover {
    background-color: rgb(54, 54, 54);
    transition: 0.5s;
}

nav#navbar {
    display: none;
}

nav#navbar ul {
    list-style: none;
}

nav#navbar ul a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav#navbar ul li {
    width: 100%;
    padding: 1rem;
}

nav#navbar ul li:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}


/* ACCOUNT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(54, 54, 54);
}

div#imglog {
    background: url(../imagens/people-buying-p.jpg);
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login1 {
    height: 500px;
    width: 300px;
    overflow: hidden;
    border-radius: 1rem;
    background-color: black;
    color: white;
    transition: 0.5s;
}

div#formulario {
    padding: 1rem;
    text-align: justify;
}

div#formulario h2 {
    text-align: center;
}

div.campo {
    position: relative;
    width: 100%;
    border: 1px solid white;
    height: 40px;
    border-radius: 1rem;
    margin: 5px 0px;
    display: block;
}

div.campo span {
    width: 40px;
    padding: 7px;
}

div.campo input[type="email"], input[type="password"] {
    position: absolute;
    height: 35px;
    width: calc(100% - 40px);
    transform: translate(1px, 1px);
    border-radius: 1rem;
    background-color: rgb(40, 180, 134);
}

div.campo input[type="submit"] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(40, 180, 134);
    color: white;
    border-radius: 1rem;
    font-size: 1.2rem;
}

div.campo button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding-bottom: 30px;
    font-size: 1rem;
    border: 1px solid rgb(40, 180, 134);
    padding: 0px;
    font-size: 1.2rem;
}

div.campo button span {
    font-size: 14px;
}

div.campo input::placeholder {
    color: white;
    padding-left: 10px;
}