@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #331F19;
    padding: 2rem;
    text-align: center;
}

body {
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

h2 {
    color: black;
    font-size: 1.2rem;
}

