@charset "UTF-8";

@media screen and (min-width:768px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    #navbar {
        display: block;
        width: auto;
        padding: 1rem;
    }

    #navbar ul {
        display: flex;
    }

    #navbar ul a li:hover {
        border-radius: 1rem;
    }
    
    main {
        background-image: url(../imagens/store-show-clothing-interior-design-aisle-design-1220950-pxhere.com.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}