@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grande telas: acima de 1200px
*/

@media screen and (min-width:768px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    #navbar {
        display: block;
        width: auto;
        padding: 1rem;
    }

    #navbar ul {
        display: flex;
    }

    #navbar ul a li:hover {
        border-radius: 1rem;
    }
    
    main {
        background-image: url(../imagens/store-show-clothing-interior-design-aisle-design-1220950-pxhere.com.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    section#login {
        width: 80vw;
        height: auto;
        max-width: 800px;
    }

    div#imagemlog {
        height: 100%;
        width: 45%;
        float: left;
        background-position: center center;
        transition: 1s;
    }

    div#formulario {
        width: 55%;
        height: auto;
        float: right;
        transition: 1s;
    }
}

@media screen and (min-width:992px) {
    section#login {
        width: 80vw;
    }
      
    div#imagemlog {
        height: 100%;
        width: 50%;
        float: right;
        background-position: center center;
    }

    div#formulario {
        width: 50%;
        height: auto;
        float: left;
    }
}