@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
}

#logo1 {
    text-align: center;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
    padding-top: 1rem;
}

#logo1 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
}

nav {
    text-align: center;
}

#menu {
    font-size: 1.8rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 1rem;
    font-size: 1.2rem;
}
