@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100vh;
}

header {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    color: white;
    text-align: center;
}

#logo1{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
}

#menu {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

#menu:hover {
    background-color: rgb(54, 54, 54);
    transition: 0.5s;
}

#navbar {
    width: 100%;
    display: none;
}

#navbar ul a {
    text-decoration: none;
    list-style: none;
    color: white;
}

#navbar ul a li {
    padding: 1rem;
}

#navbar ul a li:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(34, 34, 34);
    height: 100%;
    padding: 2rem;
}

section {
    width: 80%;
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* ACCOUNT */

section#login {
    display: block;
    width: 280px;
    height: 485px;
    background-color: black; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px -1px 10px rgb(0, 56, 88);
    padding: 0;
    transition: 0.3s;
}

div#imagemlog {
    background: url(../imagens/people-buying-p.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

div#formulario {
    padding: 0.5rem;
}

div.campo {
    position: relative;
    height: 40px;
    width: 100%;
    border: 1px solid rgb(80, 255, 246);
    border-radius: 1rem;
    margin: 5px 0px;
    display: block;
    text-align: left;
}

div.campo span {
    width: 40px;
    padding: 4px;
    padding-left: 6px;
    font-size: 2rem;
    color: rgb(6, 255, 131);
}

div.campo input[type="email"], input[type="password"] {
    position: absolute;
    height: 38px;
    width: calc(100% - 40px);
    border-radius: 1rem;
    background-color: rgb(0, 180, 171);
    padding: 5px;
}

div.campo input:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


div.campo label {
    display: none;
}

div.campo input[type="submit"] {
    font-size: 18px;
    color: white;
    background-color: rgb(0, 180, 171);
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid white;
}

div.campo button {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid rgb(0, 180, 171);
}

input::placeholder {
    color: rgb(231, 255, 252);
    padding-left: 5px;
}