@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    color: white;
    text-align: center;
}

#logo1{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
}

#menu {
    font-size: 2rem;
    padding: 0.5rem;
    background-color: white;
    color: black;
}

#menu:hover {
    background-color: rgb(54, 54, 54);
    transition: 0.5s;
}

#navbar {
    width: 100%;
    display: none;
}

#navbar ul a {
    text-decoration: none;
    list-style: none;
    color: white;
}

#navbar ul a li {
    padding: 1rem;
}

#navbar ul a li:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(34, 34, 34);
    height: 100%;
    padding: 2rem;
}

section {
    width: 80%;
    color: white;
    background-color: black;
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* ACCOUNT */

section#login {
    display: block;
    width: 280px;
    height: 490px;
    background-color: black; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px -1px 10px rgb(0, 56, 88);
    padding: 0;
}

div#imagemlog {
    background: url(../imagens/people-buying-p.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

section#login h2 {
    padding: 10px;
}

section#login p {
    text-align: justify;
    padding: 10px;
}

div.campo {
   
    position: relative;
    height: 40px;
    width: 100%;
    border: 1px solid white;
}

div.campo span {
    padding: 6px;
    width: 40px;
    border: 1px solid white;
}

div.campo input[type="email"], input[type="password"]{ 
    position: absolute;
    width: calc(100%-40px);
    height: 100%;
        
        
}

div.campo label {
    display: none;
}

