@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    width: 100%;
}

#logo1 {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#logo1 h1 {
    font-family: "Audiowide";
    font-size: 2.5rem;
}

#menu {
    padding: 0.1rem;
    font-size: 2rem;
    width: 100%;
    color: w;
}

#menu:hover {
    background-color: black;
    color: white;
    width: 100%;
}

#navbar {
    width: 100%;
}

#navbar ul {
    list-style: none;
}

#navbar ul a {
    text-decoration: none;
    color: white;
    
}

#navbar ul a li {
    padding: 1rem;
}

#navbar ul a li:hover {
    background-color: white;
    color: black;
    width: 100%;
}

main {
    background-color: rgb(26, 26, 26);
}