@charset "UTF-8";
/*PRINCIPAL */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

body,html  {
   background-color: rgb(0, 190, 175);
   height: 100vh;
   width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

header > h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 2em;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* SEÇÃO DE LOGIN */

section#login {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    
    background-color: gray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    transform: translate(-50%,-50%);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/ciclista.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
}

div#formulario h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
} 

div.campo span {
    display: inline-block;
    color: white;
    border: 1px solid black;
}

div#formulario {
    position: relative;
    padding: 15px;
}

div.campo input {
    position: absolute;
    transform: translate(-4px,1px);
    height: 25px;
    border-radius: 0 10px 10px 0;
}

div.campo {
    background-color: black;
}